.tgt.striped .odd-row {
  background-color: rgba(128, 128, 128, 0.1);
}

.tgt .cell,
.tgt .header-cell {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tgt .cell {
  justify-content: flex-start;
  overflow: hidden;
}

.tgt.interactive .focused-row {
  background-color: rgba(128, 215, 255, 0.2);
}

.tgt.interactive .focused-column {}

.tgt.interactive .focused-cell {}

.tgt .header-cell {
  justify-content: stretch;
  align-content: center;
  border-right: 1px solid rgba(128, 128, 128, 0.2);
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  background-color: white;
  cursor: default;
}

.tgt .header-cell.sortable {
  cursor: pointer !important;
}

.tgt .header-cell.header-left {
  justify-content: flex-start;
}

.tgt .header-cell.sort-asc::before {
  content: "▲";
  /* content: "△"; */
  margin-left: 0px;
  margin-right: 4px;
  font-family: "Segoe UI Symbol";
}

.tgt .header-cell.sort-desc::before {
  content: "▼";
  /* content: "▽"; */
  margin-left: 0px;
  margin-right: 4px;
  font-family: "Segoe UI Symbol";
}

.tgt .cell.left {
  justify-content: flex-start;
}

.tgt .header-cell.header-center {
  justify-content: center;
}

.tgt .cell.center {
  justify-content: center;
}

.tgt .header-cell.header-right {
  justify-content: flex-end;
}

.tgt .cell.right {
  justify-content: flex-end;
}

.bp3-dark .tgt .header-cell {
  background-color: #222;
  color: white;
}

.tgt .no-cells {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: #bdbdbd;
}

.tgt .header-cell .splitter {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 16px;
  margin-left: -8px;
  margin-right: -8px;
  background-color: transparent;
  cursor: ew-resize;
  z-index: 1000;
}

.bp3-dark .tgt {
  background-color: #222;
  color: white;
}

.tgt {
  background-color: white;
  font-family: 'Maven Pro';
  font-size: 13px;
}

.tgt-header {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  outline: none;
}

.tgt-data {
  outline: none
}